h1 {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.15;
}
.py-5 {
  display: flex;
  justify-content: center;
}
.btn-primary {
  font-size: 1.2rem;
}
.btn-outline-secondary {
  font-size: 1.2rem;
}
.lead {
  margin: 0 0 12px;
  font-weight: 500;
  line-height: 1.4;
}
