<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img
        src="../../../assets/heroimg.png"
        class="d-block mx-lg-auto img-fluid"
        alt="Hero Image"
        loading="lazy"
      />
    </div>
    <div class="col-lg-6">
      <div class="lc-block mb-3">
        <div editable="rich">
          <h1>The most trusted cryptocurrency platform</h1>
        </div>
      </div>

      <div class="lc-block mb-3">
        <div editable="rich">
          <p class="lead">
            MyCrypto is the easiest place to buy and sell cryptocurrency. Sign
            up and get started today.
          </p>
        </div>
      </div>

      <div class="lc-block d-grid d-md-flex justify-content-md-start">
        <a class="btn btn-primary px-4 me-md-2" href="#list" role="button"
          >Scroll down</a
        >
      </div>
    </div>
  </div>
</div>
